<nav class="navbar navbar-expand-md bg-dark navbar-dark">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navsirka" id="collapsibleNavbar">
        <ul class="nav navbar-nav navbar-center">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'ockovani' %}">Seznam</a>
          </li><li class="nav-item">
            <a class="nav-link active" href="{% url 'index' %}">Úvodní stránka</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'seznam_vakcin' %}">Vakcíny</a>
          </li>
        </ul>
      </div>
    </nav>
<div class="container-fluid">